:root {
  --blue: #1793d1;
  --grey: #333333;
  --white: #ffffff;
  --dark-blue: #0f3b61;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 100%;
}

.container .wrapper {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 80%;
}

table {
  margin-top: 24px;
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
}

table,
td {
  border: 1px solid var(--blue);
  padding: 12px;
}

.submit-button {
  width: 100%;
  color: var(--white);
  background-color: var(--blue);
  border: 1px var(--grey) solid;
  padding: 4px 8px;
  cursor: pointer;
}

.back-button {
  text-decoration: none;
  border: 1px var(--grey) solid;
  padding: 4px 8px;
  color: var(--white);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.required::after {
  content: "*";
  color: var(--dark-blue);
  margin-left: 2px;
}

input {
  width: 100%;
}
